NODE_PATH=./src
REACT_APP_VEHICLE_REGISTRATION_LOGIC_APP_URL=https://prod-15.centralus.logic.azure.com:443/workflows/34c0895a2866484d8a3786c8974f9025/triggers/request/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Frequest%2Frun&sv=1.0&sig=F3mItWr22UTjREfYIJbq85Y_GjoTGqtjUGWJ4zu3k4g
REACT_APP_TOLLING_BOOT_REGISTRATION_LOGIC_APP_URL=https://prod-25.centralus.logic.azure.com:443/workflows/218b7067226746ff96fa719c94ed4926/triggers/request/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Frequest%2Frun&sv=1.0&sig=n7aWl9KfbXhk1BdGQe7DqBHOn7S-vehHf1_NOijJGH4
REACT_APP_GIMME_FUNDS_APP_URL=https://prod-28.centralus.logic.azure.com:443/workflows/c72a50e627ad475a9318e7e6ac833382/triggers/request/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Frequest%2Frun&sv=1.0&sig=kcEEVv42OKXxZ-qbJe9-0l6iRmISd0IakTu-VgAiXC0
